{% extends "app/base.html" %}
{% block title %}
    home | matx clinic
{% endblock title %}
{% block body_block %}
    <div class="container-fluid text-center p-0">
        <div class="container-fluid p-5" id="mainHeader">
            <h1 class="mb-4 user-select-none" id="mainTitle">matx clinic</h1>
        </div>
        <div class="container">
            <div class="row my-5">
                <div class="col">
                    <a href="{% url 'service_new' %}" class="btn btn-success btn-block mx-2">
                        <i class="fa-solid fa-calendar-plus"></i>
                        Schedule Service
                    </a>
                </div>
                <div class="col">
                    <a href="{% url 'customer_new' %}"
                       class="btn btn-success btn-block mx-2">
                        <i class="fa-solid fa-user-plus"></i>
                        New Customer
                    </a>
                </div>
            </div>
            <div class="row mb-5">
                <div class="col">
                    <a href="{% url 'services' %}" class="btn btn-primary btn-block mx-2">
                        <i class="fa-solid fa-briefcase"></i>
                        List Services
                    </a>
                </div>
                <div class="col">
                    <a href="{% url 'customers' %}" class="btn btn-primary btn-block mx-2">
                        <i class="fa-solid fa-users"></i>
                        List Customers
                    </a>
                </div>
            </div>
        </div>
        <div class="container mb-5">
            {% if services %}
                <h2>Today's Services</h2>
                <table class="table table-hover mt-4 shadow">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">
                                <i class="fa-solid fa-calendar-alt"></i> Date
                            </th>
                            <th scope="col">
                                <i class="fas fa-clock"></i> Time
                            </th>
                            <th scope="col">
                                <i class="fa-solid fa-user"></i> Customer
                            </th>
                            <th scope="col">
                                <i class="fa-solid fa-briefcase"></i> Service
                            </th>
                            <th scope="col">
                                <i class="fa-solid fa-info-circle"></i>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for service in services %}
                            <tr>
                                <td>{{ service.date.date }}</td>
                                <td>{{ service.date.time }}</td>
                                <td>
                                    <a href="{% url 'customer_details' service.customer.id %}">{{ service.customer.name }}</a>
                                </td>
                                <td>{{ service.type }}</td>
                                <td>
                                    <a class="btn btn-primary btn-sm"
                                       href="{% url 'service_details' service.id %}">+</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <h2>No services today.</h2>
            {% endif %}
        </div>
    </div>
{% endblock body_block %}
